<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.seanyinx.scaffolding.greeting.infrastructure.domain.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.seanyinx.scaffolding.greeting.domain.User">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, username
  </sql>
  <insert id="insert" parameterType="com.github.seanyinx.scaffolding.greeting.domain.User">
    insert into connection_user (id, username)
    values (#{id}, #{username})
  </insert>
  <select id="selectAllUserIds" resultType="java.lang.Long">
    select id from connection_user
  </select>
  <select id="selectUsernameById" parameterType="java.lang.Long" resultType="java.lang.String">
    select username from connection_user where id=#{userId}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Long" resultType="com.github.seanyinx.scaffolding.greeting.domain.User">
    select id username from connection_user where id=#{userId}
  </select>
  <update id="update" parameterType="com.github.seanyinx.scaffolding.greeting.domain.User">
    update connection_user set username=#{username}
    where id=#{id}
  </update>
</mapper>